<a href="https://colab.research.google.com/github/kikun1234/Medium_Python_Stats/blob/main/Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##importing libraries & import google sheets
import pandas as pd
import numpy as np

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

ws = gc.open('Stats').get_worksheet(1)
df = pd.DataFrame(ws.get_all_records())

In [2]:
df1 = df[~df['Title'].str.contains('May 2021|February 2022|March 2022|April 2022')]
df1['Title'] = df1['Title'].shift(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
df2 = df1.reset_index(drop=True)
df2 = df2.iloc[1:]
df2= df2[~df2['Title'].str.contains('storyDetails')]

In [4]:
def clean(x):
  df4 = x.str.split('([^\W\d])', expand=True)
  df4 = df4.iloc[: , :-1]
  df4.columns=["A","B"]
  df4['B'] = df4['B'].str.replace("K","1000")
  df4['A'] = df4['A'].astype('float64')
  df4['B'] = df4['B'].astype('float64')
  df4['C'] = df4['A']*df4['B']
  return(df4['C'])

In [5]:
df3 = df2
views1 = clean(df2['Views'])
df3["Views1"] = views1
df3['Views1'] = df3['Views1'].fillna(df3['Views'])

reads1 = clean(df2['Reads'])
df3["Reads1"] = reads1
df3['Reads1'] = df3['Reads1'].fillna(df3['Reads'])

df3['Read Ratio']=df3['Read Ratio'].str.replace('\%','')
df3['Read Ratio'] = df3['Read Ratio'].astype('float64')
df3['Read Ratio'] = df3['Read Ratio']/100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.

In [6]:
df4=df3
df4['Views2']=df4['Reads1']/df4['Read Ratio']
df4['Views2'] = df4['Views2'].round(0)
df4['Fans'] = df4['Fans'].astype('float64')
df_stat1 = df4[['Title','Views2','Reads1','Read Ratio','Fans']]

In [7]:
ws = gc.open('Stats').get_worksheet(0)
df = pd.DataFrame(ws.get_all_records())

In [8]:
df['Title'] = df['Title'].replace('', np.nan) 
df1 = df.dropna()
df1 = df1[df1['Title'].str.len()<100]
df1 = df1[~df1['Title'].str.contains('Published in|Get an email whenever Jason Huynh publishes.|You cannot subscribe to yourself')]
#df1 = df1.reset_index(drop=True)
df2 = df1
df2 = df2[df2['Title'].str.len()>20]
#df2 = df2.drop_duplicates()
titles = df2.iloc[::2].reset_index(drop=True)

In [9]:
df4 = df1[df1['Title'].str.len()<20]
date = df4[::3].reset_index(drop=True)
tag = df4[1::3].reset_index(drop=True)
time = df4[2::3].reset_index(drop=True)

In [10]:
df_stats2 = pd.concat([titles,date, tag, time],axis=1)
df_stats2.columns = ['Title','Date', 'Tag', 'Time']
df_stats2['Date'] = df_stats2['Date'].str.replace('\·','')
df_stats2['Time'] = df_stats2['Time'].str.replace('min read','')
df_stats2['Time'] = df_stats2['Time'].astype("float64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
df_final = df_stat1.merge(df_stats2,on="Title")

In [49]:
df_final.loc[df_final['Tag']=="Entrepreneurship","Topic"]="Startup"
df_final.loc[df_final['Tag']=="Startup","Topic"]="Startup"
df_final.loc[df_final['Tag']=="Passive Income","Topic"]="Startup"

df_final.loc[df_final['Tag']=="Cryptocurrency","Topic"]="Blockchain"
df_final.loc[df_final['Tag']=="Blockchain","Topic"]="Blockchain"
df_final.loc[df_final['Tag']=="Nft","Topic"]="Blockchain"
df_final.loc[df_final['Tag']=="Metaverse","Topic"]="Blockchain"

df_final.loc[df_final['Tag']=="Data Science","Topic"]="Data Science"
df_final.loc[df_final['Tag']=="Machine Learning","Topic"]="Data Science"
df_final.loc[df_final['Tag']=="Data","Topic"]="Data Science"
df_final.loc[df_final['Tag']=="Spreadsheets","Topic"]="Data Science"

df_final.loc[df_final['Tag']=="Data Lake","Topic"]="Programming"
df_final.loc[df_final['Tag']=="Programming","Topic"]="Programming"
df_final.loc[df_final['Tag']=="Python","Topic"]="Programming"

df_final.loc[df_final['Tag']=="Business","Topic"]="Investing"
df_final.loc[df_final['Tag']=="Investing","Topic"]="Investing"
df_final.loc[df_final['Tag']=="Money","Topic"]="Investing"
df_final.loc[df_final['Tag']=="Personal Finance","Topic"]="Investing"
df_final.loc[df_final['Tag']=="Inflation","Topic"]="Investing"

df_final.loc[df_final['Tag']=="Work","Topic"]="Work"
df_final.loc[df_final['Tag']=="Technology","Topic"]="Work"

In [55]:
df_final1 = df_final[~df_final['Topic'].isna()]
df_final2 = df_final1.sort_values(by=['Views2'],ascending=False)

In [65]:
top = int(round(len(df_final2)*0.2,0))

In [75]:
df_final2_top = df_final2.head(top)
df_final2_top['Top'] = "Top"
df_final3 = pd.concat([df_final2,df_final2_top['Top']],axis=1).sort_values(by=['Views2'],ascending=False)
df_final3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Title,Views2,Reads1,Read Ratio,Fans,Date,Tag,Time,Topic,Top
18,After 5 Years of Attempting Half-Baked Passive...,5000.0,1200.0,0.24,34.0,Pinned,Passive Income,6.0,Startup,Top
35,"After 4 years of Data Science, Here’s What I L...",3000.0,780.0,0.26,49.0,Pinned,Data Science,6.0,Data Science,Top
17,7 Web3 Investment Ideas For You To Invest In,2743.0,384.0,0.14,8.0,Mar 29,Blockchain,7.0,Blockchain,Top
14,10 Value Investing Books That Makes You As Sma...,953.0,162.0,0.17,6.0,Apr 1,Investing,8.0,Investing,Top
42,3 Ways to Value Land in The Metaverse,790.0,237.0,0.30,2.0,Feb 10,Metaverse,6.0,Blockchain,Top
36,Should Value Investors Invest in NFTs and the ...,670.0,154.0,0.23,7.0,Feb 21,Nft,6.0,Blockchain,Top
44,I Tried to Automate Value Investing in Python ...,437.0,179.0,0.41,8.0,Feb 10,Python,5.0,Programming,Top
33,Spotting NFTs with Massive Competitive Advantage,400.0,64.0,0.16,0.0,Feb 26,Nft,6.0,Blockchain,Top
45,What makes an NFT valuable and can you be a da...,331.0,119.0,0.36,6.0,Feb 6,Nft,5.0,Blockchain,NaN
32,I Built a Blockchain in Python. This is What I...,272.0,98.0,0.36,3.0,Feb 28,Blockchain,5.0,Blockchain,NaN
6,I did NLP on 10 Years Worth of Berkshire Share...,268.0,59.0,0.22,4.0,6 days ago,Data Science,4.0,Data Science,NaN
38,I Made a Data Lake for Data Driven Investing. ...,244.0,117.0,0.48,2.0,Feb 15,Data Lake,5.0,Programming,NaN
5,"After 4 years of Programming, Here’s What I Le...",239.0,67.0,0.28,1.0,5 days ago,Programming,7.0,Programming,NaN
7,5 Practical Ways to Protect Yourself Against I...,233.0,42.0,0.18,4.0,Apr 21,Inflation,5.0,Investing,NaN
9,Why These 5 Reasons Will Convince You That Mac...,194.0,35.0,0.18,4.0,Apr 16,Machine Learning,7.0,Data Science,NaN
31,Cryptocurrencies In War. Can They Replace Gold...,171.0,36.0,0.21,3.0,Mar 1,Cryptocurrency,4.0,Blockchain,NaN
11,4 Stingy Habits of Warren Buffet That Can Help...,156.0,56.0,0.36,3.0,Apr 7,Money,6.0,Investing,NaN
15,4 Things Hidden Data Scientists Suffer From at...,155.0,31.0,0.20,4.0,Mar 31,Data Science,5.0,Data Science,NaN
30,Borrowing from Physics to Improve your Investi...,133.0,69.0,0.52,1.0,Mar 4,Investing,5.0,Investing,NaN
25,Why Data Scientists Still Need Spreadsheets. E...,127.0,61.0,0.48,5.0,Mar 10,Spreadsheets,5.0,Data Science,NaN
40,Do Existing Businesses Really Know How to Use ...,120.0,30.0,0.25,1.0,Feb 13,Nft,5.0,Blockchain,NaN
8,5 Easy Steps to Value Investing That I Got Fro...,119.0,19.0,0.16,0.0,Apr 19,Money,7.0,Investing,NaN
29,Starting A Data Career,119.0,37.0,0.31,1.0,Mar 5,Data Science,5.0,Data Science,NaN
47,What Percentage of Investing is Data Driven an...,108.0,54.0,0.50,0.0,Feb 3,Investing,4.0,Investing,NaN
39,How to Spot Good Data Driven Businesses,89.0,33.0,0.37,1.0,Feb 15,Data,5.0,Data Science,NaN
23,Quantum Computing Could Overcome ML’s Main Pro...,88.0,23.0,0.26,0.0,Mar 12,Data Science,4.0,Data Science,NaN
22,Don’t Lose Money With These Few Data Analytics...,88.0,28.0,0.32,1.0,Mar 16,Personal Finance,4.0,Investing,NaN
10,6 Years Of Work Experience Taught Me How to Fa...,86.0,18.0,0.21,2.0,Apr 14,Work,6.0,Work,NaN
4,An Analysis of Netflix Subscriber Numbers: Why...,78.0,25.0,0.32,2.0,4 days ago,Business,3.0,Investing,NaN
13,3 Data Centric Ways I Cut Costs on Fuel,75.0,15.0,0.20,1.0,Apr 4,Money,4.0,Investing,NaN
41,Why Most Management Performance Metrics are a ...,66.0,23.0,0.35,3.0,Feb 12,Investing,5.0,Investing,NaN
21,Improve Investing Intelligence by Borrowing fr...,66.0,19.0,0.29,4.0,Mar 17,Business,5.0,Investing,NaN
3,"I Investigated the Number of Twitter Users, so...",62.0,18.0,0.29,1.0,3 days ago,Business,4.0,Investing,NaN
34,5 Detrimental Thinking Practices to Any Sort o...,56.0,9.0,0.16,1.0,Feb 25,Investing,5.0,Investing,NaN
19,What Role Do Data Analysts Play In War?,53.0,8.0,0.15,1.0,Mar 24,Data Science,5.0,Data Science,NaN
1,How to Convince Someone about Cryptocurrency,48.0,14.0,0.29,3.0,1 day ago,Cryptocurrency,4.0,Blockchain,NaN
37,Why Cooking has Made Me a Better Data Analyst ...,48.0,16.0,0.33,3.0,Feb 18,Investing,4.0,Investing,NaN
0,What is it like Working in IT now?,28.0,12.0,0.43,0.0,20 hours ago,Technology,4.0,Work,NaN
2,How I’m Building a Jeff Bezos Like Business,26.0,5.0,0.19,1.0,2 days ago,Entrepreneurship,6.0,Startup,NaN
48,A Lazy Man’s Guide to Data Driven Investing,10.0,3.0,0.30,2.0,"May 18, 2021",Data,10.0,Data Science,NaN